@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/proximaNova/ProximaNova-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximaNova/ProximaNova-ExtrabldIt.woff2") format("woff2"), url("../fonts/proximaNova/ProximaNova-ExtrabldIt.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximaNova/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/proximaNova/ProximaNova-RegularIt.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximaNova/ProximaNova-Black.woff2") format("woff2"), url("../fonts/proximaNova/ProximaNova-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/proximaNova/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/proximaNova/ProximaNova-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}